.App {
  text-align: center;
  min-height: 100vh;
  background-color: rgb(222, 222, 255);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

}

.counter {
  color: white;
  gap: 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
